<footer class="footer">
	<div class="rights">
		<span>© Aragon <span id="copyright-date"></span></span>
		<a class="terms" href="https://app.aragon.org">Explore</a>
		<a class="terms" href="https://discord.com/invite/AhzsGmh7fK">Help</a>
		<a class="terms" href="https://aragon.org/privacy-policy">Privacy</a>
		<a class="terms" href="https://aragon.org/terms-and-conditions">Terms of Servce</a>
	</div>
</footer>
{{> footer-scripts }}
