<footer class="footer">
	<div class="rights">
		<span>© Aragon <span id="copyright-date"></span></span>
		<a class="terms" href="https://aragon.org/privacy-policy">Privacy</a>
		<a class="terms" href="https://aragon.org/terms-and-conditions">Terms of Use</a>
	</div>
</footer>
{{> footer-scripts }}
