/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

p,
span {
  font-weight: 500;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --ifm-color-primary: #3465A4;
  --ifm-color-primary-dark: #2f5b94;
  --ifm-color-primary-darker: #2c568b;
  --ifm-color-primary-darkest: #244773;
  --ifm-color-primary-light: #396fb4;
  --ifm-color-primary-lighter: #3c74bd;
  --ifm-color-primary-lightest: #396fb4;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #729fcf;
  --ifm-color-primary-dark: #bad0e7;
  --ifm-color-primary-darker: #96b7db;
  --ifm-color-primary-darkest: #8aafd7;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}