:root {
  --neutral-500: #52606d;
  --neutral-700: #323f4b;
}

.markdown {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  color: var(--neutral-500);
}

.markdown > * > h1 {
  font-size: 2.1775rem;
  font-weight: 700;
  color: var(--neutral-700);
  margin-bottom: 8px !important;
}

.markdown > h2 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 0;
  margin-bottom: 48px;
  color: var(--neutral-500);
}

.markdown > h3 {
  font-weight: 700;
  font-size: 1.25rem;
  color: var(--neutral-700);
  margin: 0;
  margin-bottom: 16px;
}

.markdown > h4 {
  font-weight: 700;
  font-size: 1rem;
  color: var(--neutral-700);
  margin: 0;
  margin-bottom: 16px;
}

.markdown > p {
  margin: 0;
  margin-bottom: 16px;
}

.table-cell-positive {
  color: green;
}

.table-cell-neutral {
  color: gold;
}

.table-cell-negative {
  color: red;
}
