.markdown {
  font-family: Manrope, system-ui, -apple-system, sans-serif;
  line-height: 1.7;
  font-style: normal;
  font-size: 1rem;
  color: var(--neutral-500);
}

.markdown h1 {
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--neutral-700);
}

.markdown h2 {
  font-weight: 600;
  font-size: 1.4rem;
  margin: 0;
  margin-bottom: 24px;
  color: var(--neutral-700);
}

.markdown h3 {
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--neutral-700);
  margin: 24px 0 8px;
}

.markdown h4 {
  font-weight: 600;
  font-size: 1rem;
  color: var(--neutral-700);
  margin: 0;
  margin: 16px 0 6px;
}

.markdown p, .markdown ul, .markdown ol {
  margin: 0 0 20px;
  font-size: 1rem;
}

.markdown > ul {
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 24px;
}

.markdown > ol {
  list-style-type: decimal;
  list-style-position: outside;
  margin-left: 24px;
}

.markdown > ul ul,
.markdown > ol ul {
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 24px;
}
.markdown > ol ol,
.markdown > ul ol {
  list-style-type: lower-latin;
  list-style-position: outside;
  margin-left: 24px;
}

.markdown code {
  font-size: 0.9em;
  padding: 1px;
  border: none;
  color: var(--neutral-700);
}

.markdown pre {
  padding: 8px;
}

.markdown img {
  background-color: white;
  padding: 8px
}

.table-cell-positive {
  color: var(--positive-color);
}

.table-cell-neutral {
  color: var(--warning-color);
}

.table-cell-negative {
  color: var(--danger-color);
}

.center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}

.caption {
  font-size: 0.75rem;
  margin-left: 10pc;
  margin-right: 10pc;
}
